<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Qanda</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="/assets/vendor/icon-hs/style.css">

    <link rel="stylesheet" href="/assets/vendor/hamburgers/hamburgers.min.css">

    <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="/assets/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/assets/vendor/animate.css">
    <link rel="stylesheet" href="/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/assets/css/unify.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  </head>

  <body>
    <!-- Header -->
    <header id="js-header" class="u-header  u-header--toggle-section u-header--change-appearance"
            data-header-fix-moment="300">
      <div class="u-header__section u-header__section--dark g-bg-primary-gradient-opacity-v1 g-transition-0_3 g-py-10"
           data-header-fix-moment-exclude="g-py-10"
           data-header-fix-moment-classes="g-py-0">
        <nav class="navbar navbar-toggleable-md">
          <div class="container">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    aria-controls="navBar"
                    data-toggle="collapse"
                    data-target="#navBar"
            >
              <span class="hamburger hamburger--slider">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Logo -->
            <a href="/" class="navbar-brand">
              <img src="/assets/img/logo/qanda.png" alt="Image Description">
            </a>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
              <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
              

                
                 
                <li id="newdisc"class="nav-item g-mx-20--lg">
                  <a  href="/create" class="nav-link g-px-0"> <i class="fa fa-plus g-ml-3 g-mr-5"></i> Discussion</a>
                </li>

                <li class="nav-item g-mx-20--lg">
                  <a id="moderator" class="nav-link g-px-0">{{username}}</a>
                </li>

                <li class="nav-item g-ml-20--lg g-mr-0--lg">
                  <a href="/user/logout" class="nav-link g-px-0">Logout</a>
                </li>
              </ul>
            </div>
            <!-- End Navigation -->
          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <main>
  
          
          

 
      
      <!-- Discussion Page -->
      
                  <div class="container g-pt-50">
<div id="heading" class="u-heading-v2-4--bottom g-brd-primary g-mb-40">
  <h2 id="discname" class="text-uppercase u-heading-v2__title g-mb-10">{{name}}</h2>
  
  <script>
      
if("{{username}}" == "{{mod}}" ) {
   var lock = document.createElement('i');
    var discname = document.getElementById('discname');
 lock.setAttribute('class', 'fa fa-unlock g-ml-20');
    discname.appendChild(lock);

   }
   

    </script>

<!--<i id="counter" class="fa fa-user g-color-gray-light-v1 g-ml-20 g-mr-10 h5">0</i>-->
</div>

<div id="status" class="g-color-primary g-mb-20"></div>



                <div class="Question1">
<!-- General Forms -->
<form id ="questionform" class="">
  <!-- Text Input -->
  <div class="form-group row g-mb-25">


    <div class="col-sm-9">
      <input id="question" class="form-control u-form-control rounded-0" type="text" placeholder="Ask a Question...">
     
    </div>
    
    <a href="#" id="addQ" type="submit" class="btn u-btn-teal g-mr-10  g-mt-1 g-mb-15 g-width-150 g-height-35 rounded-0">
  <i class="fa fa-paper-plane"></i>
</a>
  </div>
  <!-- End Text Input -->

</form>
<!-- End General Forms -->
      
                 <ul id="questionlist" class="g-pl-0">
                 
                <!-- begin questionblock 
                <li id="qblock" class="qblock g-brd-around g-brd-gray-light-v4">
                   
                    
                      <h3 class="g-pt-20 g-pl-20">This is my First Question?</h3>

   <hr class="g-brd-gray-light-v4 g-mx-minus-30">
                   
                   <ul id="answerlist" class="answerslist g-mb-30">
                       
                       <li><p><span class="userspan g-font-weight-600 g-mr-5 g-color-cyan">Lorens: </span> Hey Man</p></li>
                          <li><p>Hey Man</p></li>
                             <li><p>Hey Man</p></li>
                   </ul>
                   
                   <form class="">

  <div class="form-group row">


    <div class="col-sm-9">
      <input id="hf-email" class="form-control u-form-control rounded-0 g-mb-0" type="text" placeholder="Answer this Question...">
     
    </div>
    
    <a href="#" class="btn u-btn-primary g-mr-10  g-mt-1 g-mb-0 g-width-150 g-height-35 rounded-0 g-bg-gray-dark-v4">
  <i class="fa fa-paper-plane"></i>
</a>
  </div>


</form>
                    
                </li>
                <!-- end question block -->
                     
                      </ul>
                    
                      
                      
                  </div>
                
             </div>


              
  
      
      <!-- list disc-->

  <!--   
      <footer class="g-bg-gray-dark-v2 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
              <div class="d-lg-flex">
                <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2017 © Qanda</small>
      
              </div>
            </div>

     
          </div>
        </div>
      </footer>
       -->
    </main>

   <!-- JS Global Compulsory -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/tether.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- JS Unify -->
    <script src="/assets/js/hs.core.js"></script>
    <script src="/assets/js/components/hs.header.js"></script>
    <script src="/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/assets/js/components/hs.dropdown.js"></script>
    <script src="/assets/js/components/hs.scrollbar.js"></script>
    <script src="/assets/js/components/hs.popup.js"></script>
    <script src="/assets/js/components/hs.carousel.js"></script>

    <!-- JS Custom -->
    <script src="/assets/js/custom.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

     <script>
   
              
    (function() {
          var element = function(id){
              return document.getElementById(id);
          }
          
          //Get DOM elements
      
            var question = element('question');
         var qlist = element('questionlist');
            var addQ = element('addQ');
        var discname = element('discname');
        var addA = element('addA');
        var answer = element('answer');
        var counter = element('counter');
      var status = element('status');
            
    
       //set default status
          //set default status
          statusDefault = status.textContent;
          setStatus = function(s){
         
              // Set Status
              if (s == "Please enter a valid question"){
              status.setAttribute('class', 'g-color-red g-mb-20')
                  status.textContent = s;
                  
                  } else {
                      status.setAttribute('class', 'g-color-teal g-mb-20')
                  status.textContent = s; 
                  }
              
              if(s !== statusDefault) {
                 var delay = setTimeout(function(){
                     setStatus(statusDefault);
                 }, 4000);
                 }
              
          } 
      
          
          // Connect to socket.io
          var socket = io.connect('http://127.0.0.1:3005');
        
          //check for connection
          if(socket !== undefined) {
             console.log('Connected to socket...');
              
              

              
              
// Handle Question Input
         
              addQ.addEventListener('click', function() {
                
            //emit server input
                      socket.emit('inputq', {
                         question: question.value,
                          discname: discname.textContent
                     
                        
                         
                      });
                  
              
                      
                      event.preventDefault();
                  
                      if(question.value != "") {
                  
                  setStatus("Question asked!");
                      } else {
                          setStatus("Please enter a valid question");
                      }
                      
                      event.preventDefault();
                      
                      
                      
                  
              });
              
                 /* counter   socket.on('countput', function(data){  
              

              counter.innerHTML = data;
                        
                    }); */
              
 
             }
        
        
                  
           
        

    
        
                     //OUTPUT Handler (Answers)        
       
           
       
        
                  //OUTPUT Handler Questions        
           socket.on('outputq', function(data){
               
               
               
          // console.log(data); 
          if(data.length){
                   for(var x = 0;x < data.length;x++){
                       //build out message div
                       var qblock = document.createElement('li');
                       var qname = document.createElement('h3');
                       var hr = document.createElement('hr');
                       var reslist = document.createElement('ul');
                       var qform = document.createElement('form');
                       var formdiv = document.createElement('div');
                       var coldiv = document.createElement('div');
                       var resinput = document.createElement('input');
                       var reslink = document.createElement('a');
                       var resico = document.createElement('i');
                       var trash = document.createElement('i');
                       var trashlink = document.createElement('a');
             
                        qblock.setAttribute('class','qblock g-brd-around g-brd-gray-light-v4');
                        qname.setAttribute('class','g-pt-20 g-pl-20');
                       qname.setAttribute('id', 'qname');
                       trashlink.setAttribute('id', data[x]._id);
                       trashlink.setAttribute('href', "#");
                            trashlink.setAttribute('class', "trash");
                       trash.setAttribute('class', 'fa fa-trash g-color-gray-light-v3 g-ml-20')
                        hr.setAttribute('class','g-brd-gray-light-v4');
                       reslist.setAttribute('class','answerslist g-mb-30');
                       reslist.setAttribute('id', 'answerlist');
                        formdiv.setAttribute('class','form-group row');
                        coldiv.setAttribute('class','col-sm-9');
                       resinput.setAttribute('class','form-control u-form-control rounded-0 g-mb-0');
                       resinput.setAttribute('placeholder','Answer this Question...');
                         resinput.setAttribute('id','answer');
                       reslink.setAttribute('class','addanswer btn g-mt-1 g-mb-0 g-width-150 g-height-35 rounded-0 g-bg-gray-light-v1');
                        reslink.setAttribute('href','#');
                  
                       resico.setAttribute('class','fa fa-paper-plane g-color-white');
                       

                       if(data[x].discname === '{{ name }}') {
                       qname.textContent = data[x].question;
                       
                          
                       qform.appendChild(formdiv);
                       formdiv.appendChild(coldiv);
                       coldiv.appendChild(resinput);
                       formdiv.appendChild(reslink); 
                       
                       
                       
                       
                       
                       reslink.appendChild(resico);
                       
                       
                       
                       
                       if("{{username}}" == "{{mod}}" ) {
  trashlink.appendChild(trash);
                       qname.appendChild(trashlink);

   }
                
                   
                       qblock.appendChild(qname);
                       qblock.appendChild(hr);
                   
            
                            
                            
                  
                            
                            
                      
                       
                       
                       
                       qblock.appendChild(reslist);
           
                 
                       qblock.appendChild(qform);
                       questionlist.appendChild(qblock);
              
                   
                      
                       }
              
              
               
           
                    
                   }
               
        
                    
             
             
           }
                     
                 
          
    });
        
        
 
        
        
        
      
        //output answers
        
                  
             
        setTimeout(function(){  
               
               if(socket !== undefined) {
              
                var answer = element('answer');
        var addanswer = element('addanswer');
        var qname = element('qname');
        var answerlist = element('answerlist');
                   
            console.log($(".addanswer").closest('form').find('input'));
                   console.log(moderator.innerHTML);
                   
         $(".addanswer").click(function(){
                
            //emit server input
                      socket.emit('inputa', {
                          
                      //   answer: $(".addanswer").closest('form').find('input').val(),
                          answer: answer.value,
                          discname: discname.textContent,
                          question: qname.textContent,
                          user: moderator.textContent
                
         
                      });
    console.log($(".addanswer").closest('form').find('input').val());
                      event.preventDefault();

              }); 
                   
                     $(".trash").click(function(){
 
                          socket.emit('delete', {
                          
                      //   answer: $(".addanswer").closest('form').find('input').val(),
                          id: $(this).attr('id')
                
         
                      });
           event.preventDefault();
                         console.log($('.trash').attr('id'));
        });
                   
                   
       
                  }
              
                }, 300); 
                       
       
   

        
              
      
      })();
            
            
        
      </script> 
      
      


    <!-- JS Plugins Init. -->
    <script>
        
     

          
        
      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        $('#we-provide').slick('setOption', 'responsive', [{
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 576,
          settings: {
            slidesToShow: 1
          }
        }], true);

    

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));


      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
      });
           });
    </script>
  </body>
</html>